# Data Science Tools and Ecosystems

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__ 

* List popular languages for Data Science
* List commonly used libraries
* Names of Open Source Tools in Data Science
* Simple Mathematical operations

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. TensorFlow

|Data Science Tools|
|--------------|
|Git|
|Scikit-learn|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [35]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [37]:
#This will convert 200 minutes to hours by diving by 60

(200/60)

3.3333333333333335

## Author
Lisbeth Hernandez